extends ../layout

block content
    .adminpanel-container
        .admin-sidebar
            ul
                li: a(href="/adminpanel/") Головна
                li: a(href="/adminpanel/adminpanel-trainings") Тренування
                li: a(href="/adminpanel/adminpanel-users") Користувачі
                li: a(href="/adminpanel/adminpanel-trainers") Тренери
                li: a(href="/adminpanel/adminpanel-programs") Програми
                li: a(href="/adminpanel/adminpanel-memberships") Абонементи

        .adminpanel-content
            h1 Вітаємо в адмінпанелі SweatFit!
            p Це ваш головний інтерфейс для керування всіма аспектами платформи. Ви можете редагувати інформацію про тренування, користувачів, тренерів, програми та абонементи.
            p Виберіть потрібну категорію з лівого меню для управління:
            ul
                li Для редагування тренувань перейдіть до "Тренування".
                li Для додавання та редагування користувачів перейдіть до "Користувачі".
                li Для управління тренерами перейдіть до "Тренери".
                li Для створення та редагування програм перейдіть до "Програми".
                li Для налаштування абонементів перейдіть до "Абонементи".
            p Удачі в управлінні платформою! Якщо у вас виникнуть питання, звертайтесь до розділу допомоги.
