extends layout

block content
    .hero
      h1 ПРИПИНИ ПОШУКИ – ПОЧНИ ТРЕНУВАННЯ СЬОГОДНІ!
      p <span>Sweat Fitness Club</span> – твій простір для перетворення. Ставай на шлях до ідеального тіла разом з нами!
      p Залиш свої сумніви позаду – ми допоможемо досягти твоїх цілей!


    footer
      p © 2024 SweatFit. Всі права захищені.
      p Designed by ODARKA-STUDIO


