extends layout

block content
    .main-content-prices
        h1 ЦІНИ
        .price-cards
            each membership in memberships
                .price-card
                    h2= membership.name
                    h1= membership.price + ' грн'
                    ul
                        each line in membership.descriptionList
                            li= line.trim()

    footer
        p © 2024 SweatFit. Всі права захищені.
        p Designed by ODARKA-STUDIO