.main-content-sing-up-training {
    background: url('/images/sing-up-training-background.jpg') center/cover no-repeat;
    background-attachment: fixed; /* Фіксація фону */
    width: 100%;             /* Замість 80%, щоб контейнер займав всю ширину */
    padding: 40px;
    display: flex;
    flex-direction: column;  /* Визначаємо, що елементи будуть розміщені по вертикалі */
    align-items: center;     /* Вирівнює елементи по горизонталі */
}

.main-content-sing-up-training h1 {
    text-align: center;
    font-family: 'Montserrat';
    color: var(--white);
    font-weight: bold;

    margin-top: 0;
}
.no-membership-message{
    width: 70%;             /* Форма займає 65% ширини */
    background-color: rgba(52, 58, 64, 0.8);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 40px;
}
.form-select {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-select-program-date {
    width: 70%;             /* Форма займає 65% ширини */
    background-color: rgba(52, 58, 64, 0.8);
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 40px;
}

.form-group-program-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group-program-date label {
    font-weight: bold;
    white-space: nowrap;
    font-size: 18px;
    color: var(--white);
}

.form-select-program-date select, input[type="date"] {
    width: 100%;
    max-width: 480px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: #fff;
}

.form-select-result {
    width: 70%;             /* Форма результатів також займає 65% ширини */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(52, 58, 64, 0.8);
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.form-select-result p {
    color: var(--white);
}

.group-trainings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.btn-time {
    background-color: var(--pink); /* Початковий колір */
    color: white;
    border: none;
    margin: 5px;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-time:hover {
    background-color: var(--white); /* Колір при наведенні */
    color: black;
}

.btn-time.selected {
    background-color: var(--white); /* Колір при виборі */
    color: black;
}

.form-button {
    display: flex;
    justify-content: flex-end; /* Вирівнює кнопки справа */
}

.btn-submit, .btn-search-training {
    background-color: var(--pink);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #ffafcc;
    color: black;
}

.btn-search-training:hover {
    background-color: #ffafcc;
    color: black;
}
